body{background-color: rgb(242, 241, 242);}
h1{color:rgb(49, 207, 24)}
.SideProjects{font-size:50px; color:brown}
#projects{font-size:30px; color:aquamarine}
ul{font-size:15px; color:blueviolet}
#header{font-size:50px;color:grey}
.class1{font-size:50px;color:grey}

/* . idnetify by class
# identify by id */